:root {
    /* Basic colors */
    --color-black: #222222;
    --color-white: #f3f3f3;
    --color-gray: #c5c5c5;
    --color-gray-light: #8c8c8c;
    --color-dark: #333333;
    --color-light: #e3e3e3;
    --color-success: #7fc128;
    --color-warning: #f7e64a;
    --color-danger: #c12e4e;
    --color-info: #42a4f4;
    
    /* Special colors */    
    --color-code: #bbbbbb;
    --color-code-bg: #333333;
    --color-kbd: #333333;
    --color-kbd-bg: #e4e4e4;
    --color-mark: rgb(165, 255, 0);

    /* Effect colors */
    --color-hover: rgba(0, 0, 0, 0.5);
    --color-hover-light: #f3f3f3;
    --color-hover-dark: #2f2f2f;

    /* Custom colors */
    --color-primary: rgb(255, 165, 0);
    --color-secondary: rgb(165, 255, 0);
}