/* Text Transform */
.upper { text-transform: uppercase; }
.capital { text-transform: capitalize; }
.bold { font-weight: bold; }
.light { font-weight: 300; color: var(--color-gray); }
.preserve-whitespace { white-space: pre-wrap; }
/* Centering */
.text-center { text-align: center; }
.text-left { text-align: left; }
.block-center { margin: 0 auto; }
/* Size */
.w-100 { width: 100%; }
/* Display */
.d-block { display: block; }
.d-none { display: none; }
.d-inline { display: inline; }
/* Float */
.float-right { float: right; }
.float-left { float: left; }
/* Link */
.button::after,
a.unstyled-link::after,
th > a::after {
    background: none;
    height: 0;
}
/* Color */
.bg-dark { background-color: var(--color-dark); }
.bg-light { background-color: var(--color-light); }
.text-dark { color: var(--color-dark); }
.text-light { color: var(--color-light); }
.text-primary { color: var(--color-primary); }
.text-secondary { color: var(--color-secondary); }
.text-warning { color: var(--color-warning); }
.text-success { color: var(--color-success); }
.text-danger { color: var(--color-danger); }
.text-info { color: var(--color-info); }
input[type="submit"].button-danger,
button.button-danger,
.button-danger {
    border: 1px solid var(--color-danger);
    color: var(--color-light);
    background-color: var(--color-dark);
}
input[type="submit"].button-danger:hover,
button.button-danger:hover,
.button-danger:hover {
    background-color: var(--color-danger);
}
input[type="submit"].button-info,
button.button-info,
.button-info {
    border: 1px solid var(--color-info);
    color: var(--color-light);
    background-color: var(--color-dark);
}
input[type="submit"].button-info:hover,
button.button-info:hover,
.button-info:hover {
    background-color: var(--color-info);
}
input[type="submit"].button-success,
button.button-success,
.button-success {
    border: 1px solid var(--color-success);
    color: var(--color-light);
    background-color: var(--color-dark);
}
input[type="submit"].button-success:hover,
button.button-success:hover,
.button-success:hover {
    background-color: var(--color-success);
    color: var(--color-light);
}
input[type="submit"].button-warning,
button.button-warning,
.button-warning {
    border: 1px solid var(--color-warning);
    color: var(--color-light);
    background-color: var(--color-dark);
}
input[type="submit"].button-warning:hover,
button.button-warning:hover,
.button-warning:hover {
    background-color: var(--color-warning);
    color: var(--color-dark);
}